:root {
    --primary-color: #044638;
    --secondary-color: #c51d1c;
    --tertiary-color: #27d6ae;
}

body {
    background-color: var(--primary-color);
    font-family: 'Nanum Gothic', sans-serif;
}
header {
    background-color: var(--secondary-color);
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 10vh;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Great Vibes', cursive;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav li {
    display: inline;
    margin: 35px 100px 35px 100px;
}
nav li a {
    color: black;
}
a {
    font-size: 30px;
}
a:link {
    color: var(--tertiary-color);
    text-decoration: none;
}
a:visited {
    color: var(--primary-color)
}
a:hover, a:focus {
    text-decoration: underline;
}
a:active {
    font-size: 32px;
}
main {
    width: 100vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 0px 20px 0px 20px;
    color: var(--tertiary-color);
}
h1 {
    font-style: bold;
    font-size: 40px;
    font-family: 'Great Vibes', cursive;
}
h2 {
    font-style: bold;
    font-size: 30px;
}
h3 {
    font-style: bold;
    font-size: 30px;
}
article h1 {
    padding-top: 20px;
    padding-bottom: 5px;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 10vh;
    background-color: var(--secondary-color);
}
#copyright {
    position: absolute;
    font-size: 10px;
    bottom: 5px;
    left: 5px;
}
.mobileFeature {
    display: none;
}

@media (max-width: 500px) {
    li {
        display: inline;
        margin: 20px;
    }
    .disappearing {
        display: none;
    }
    .mobileFeature {
        display: flex;
    }
}