main {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h2 {
    padding-top: 20px;
    padding-bottom: 15px;
}
ol {
    display: flex;
    justify-content: center;
}
ol li {
    padding: 0px 10px 0px 10px;
}
ol li:hover::after {
    content: attr(data-blackjack-value);
    position: absolute;
    background-color: var(--secondary-color);
}
button {
    background-color: var(--tertiary-color);
    border-style: hidden;
    color: var(--primary-color);
}
button:hover::after {
    content: attr(data-user-hints);
}
#playerCards {
    grid-area: 2 / 2 / 4 / 1;
}
#dealerCards {
    grid-area: 2 / 2 / 4 / 2;
}
#playerActions {
    grid-area: 2 / 3 / 4 / 4;
}